<div>
  <form [formGroup]="form">
    <div *ngIf="userNameError">{{userNameError}} </div>
    <div><label>UserName:<input type="text" formControlName="username"></label></div>
    <div><label>Password:<input type="text" formControlName="password"></label></div>
    <div><label>ConfirmPassword:<input type="text" formControlName="confirmPassword"></label></div>
    <div *ngIf="form.errors">{{form.errors['notSame']}}</div>
    <div>
      <button [disabled]="form.invalid" (click)="register()">Register</button>
    </div>
  </form>
</div>
