.comment_box{
  border: 1px solid black;
  width: 200px;
  margin: 5px;
  padding: 5px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.comment_body{
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
}

